@tailwind base;
@tailwind components;
@tailwind utilities;

.uploads-container {
  @apply flex flex-wrap justify-center;
}

.upload-card {
  @apply border border-gray-500 rounded-t m-1 bg-gray-200 text-center w-full md:w-1/4 min-w-min;
  /* width: 400px;
  height: 230px; */
 
}

.upload-content-container {
  @apply md:flex md:flex-row w-full;
}

.picture-container {
  @apply flex items-center justify-evenly min-w-min;
  /* width: 195px;
  height: 195px; */
  margin: 0 auto;
}

.upload-card-info {
  @apply md:w-1/2 min-w-min;
  /* width: 200px; */
}

.upload-card-title {
  @apply bg-black text-white text-lg font-semibold border border-black;
}

button,input[type=submit]{
  @apply bg-black text-white p-1 m-1 border border-black;
  /* filter: drop-shadow(2px 2px 0px #555); */
}