@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,input[type=submit]{
  @apply bg-black text-white p-1 m-1 border border-black;
  /* filter: drop-shadow(2px 2px 0px #555); */
}

button:hover,input[type=submit]:hover{
  @apply bg-gray-700 text-white p-1 m-1;
  /* filter: drop-shadow(4px 4px 0px #000); */
}

button:active,input[type=submit]:active{
  @apply bg-gray-200 text-black p-1 m-1 border border-black;
  /* filter: drop-shadow(4px 4px 0px #999); */
}

input[type=text]{
  @apply border border-gray-500 rounded-lg m-1 pl-1;
}


header {
  @apply flex flex-row justify-between bg-black text-white font-semibold min-h-fit border-b-2 border-black;
  /* height: 5vh; */
      height: 3em;
}
.header-button-outer {
  @apply active:bg-red-600 h-full;
}

.header-button {
  @apply h-full text-center pointer-events-auto m-auto p-1 select-none;
  @apply hover:border-b-2 hover:border-white;
  /* @apply active:bg-gray-500; */
  cursor: pointer;
}



.sidebar {
  @apply bg-gray-600 text-white w-full md:min-w-min md:max-w-min;
}

.searchBar {
  @apply md:m-2 text-black;
}

.sidebar-content {
  @apply hidden md:block;
}

.content-container {
  @apply md:flex md:flex-row;

  height: -webkit-fill-available;
}

.formContainer {
  @apply border border-gray-500 bg-gray-50 rounded-t flex flex-col ml-auto mr-auto w-full md:w-1/3;
  /* width: 400px; */
}

.editFormContainer {
  @apply border border-gray-500 bg-gray-50 rounded-t flex flex-col ml-auto mr-auto w-full;
  /* width: 400px; */
}

.formContainerTitle {
  @apply bg-black text-white font-semibold;
}